<a href="https://colab.research.google.com/github/pedrohcaminha/ProjetoPLN/blob/main/Projeto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1 baixando os dados

In [1]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)

In [2]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [3]:
! cp kaggle.json ~/.kaggle/

In [4]:
! chmod 600 ~/.kaggle/kaggle.json

In [5]:
! kaggle datasets download hassanamin/atis-airlinetravelinformationsystem

atis-airlinetravelinformationsystem.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
! unzip atis-airlinetravelinformationsystem.zip

Archive:  atis-airlinetravelinformationsystem.zip
replace atis_intents.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: atis_intents.csv
  inflating: atis_intents_test.csv
  inflating: atis_intents_train.csv

In [7]:
! ls

atis-airlinetravelinformationsystem.zip  atis_intents_test.csv	 kaggle.json
atis_intents.csv			 atis_intents_train.csv  sample_data

# 2 lendo e separando os dados

importando bibliotecas

In [8]:
import spacy
import csv
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from scipy import spatial
import nltk
nltk.download('stopwords')

from nltk.tokenize import word_tokenize
from keras.preprocessing.sequence import pad_sequences
from keras.utils.np_utils import to_categorical

from keras.layers.embeddings import Embedding
from keras.layers import Flatten, LSTM, Conv1D, MaxPooling1D, Dropout, Activation
from keras.layers import Input, Dense
from keras.models import Sequential

from sklearn.metrics import classification_report
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.manifold import TSNE

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

dados de treino e teste

In [9]:
train = pd.read_csv("atis_intents_train.csv", header=None)
test = pd.read_csv("atis_intents_test.csv", header=None)

# 3 pre-processamento

stop words

In [10]:
from nltk.corpus import stopwords
words = set(stopwords.words("english"))
print(words)

{'off', 'it', 'your', "it's", 'they', 'having', 'there', 'each', 'before', 'own', 'shan', "weren't", "wasn't", 'ourselves', 'above', 'at', 'than', 'no', 'are', 'below', 'up', 'any', "you're", 'that', "you've", 'so', 'ain', 'shouldn', 'a', 'm', 'am', 'couldn', 'wasn', 'weren', 'has', 'just', 'mightn', 'don', 'hasn', 'you', 'her', 'needn', 'can', 'our', 'why', 'yourself', 'she', 'under', 'themselves', 'i', 'other', 'out', "didn't", 'how', "shouldn't", "should've", 'wouldn', 've', 'ma', 'does', 'about', "mightn't", 'and', 'them', 'been', "haven't", "you'd", 'once', 'during', 'or', 'into', 'nor', 'some', 'the', 'in', 'were', 'who', 'haven', 'we', "hadn't", 'him', 'an', 'down', 'myself', 'same', 'doing', 'too', 'while', 'my', 'its', 'but', 'with', 'which', 'do', 'what', "that'll", 'yours', 'these', 'their', 'doesn', "she's", 'again', 'then', "won't", 'such', 'himself', 'few', 'had', "aren't", 'is', 'from', 'more', 'aren', 'me', 'mustn', 'theirs', 'here', 'will', 'being', 'o', "wouldn't", 'of', 'for', "don't", 'through', 'most', 'y', 'not', "you'll", 'he', 'as', 'll', 'ours', 'over', 're', 'because', 'when', 'both', "mustn't", 'hers', 'hadn', 'was', "shan't", 'herself', 'those', 'his', "hasn't", 'be', 'should', 't', 'itself', "isn't", 's', 'this', 'have', 'whom', 'did', 'by', 'between', 'now', 'if', 'only', 'yourselves', 'after', 'very', 'didn', 'further', "doesn't", 'on', 'where', 'won', 'isn', "couldn't", 'to', 'd', 'all', 'against', 'until', "needn't"}

In [11]:
train['text'] = train[1].apply(lambda x: ' '.join([word for word in x.split() if word not in (words)]))
test['text'] = test[1].apply(lambda x: ' '.join([word for word in x.split() if word not in (words)]))

train['text'] = train['text'].str.replace('\d+', '')
test['text'] = test['text'].str.replace('\d+', '')

In [12]:
text = train['text']
labels = train[0]
test_text = test['text']
test_labels = test[0]

In [13]:
train.head()

                  0  ...                                               text
0       atis_flight  ...            want fly boston  arrive denver  morning
1       atis_flight  ...  flights available pittsburgh baltimore thursda...
2  atis_flight_time  ...  arrival time san francisco  flight leaving was...
3      atis_airfare  ...                    cheapest airfare tacoma orlando
4      atis_airfare  ...  round trip fares pittsburgh philadelphia  dollars

[5 rows x 3 columns]

# 4 vetorizando palavras

In [14]:
from keras.preprocessing.text import Tokenizer
tok = Tokenizer()
tok.fit_on_texts(text)
word_index = tok.word_index

In [15]:
word_index

{'aa': 512,
 'abbreviation': 290,
 'abbreviations': 403,
 'able': 526,
 'ac': 454,
 'across': 474,
 'actually': 464,
 'advertises': 615,
 'afternoon': 38,
 'afternoons': 621,
 'afterwards': 488,
 'air': 92,
 'aircraft': 101,
 'airfare': 218,
 'airfares': 588,
 'airline': 83,
 'airlines': 15,
 'airplane': 278,
 'airplanes': 586,
 'airport': 70,
 'airports': 233,
 'alaska': 438,
 'along': 442,
 'also': 207,
 'america': 359,
 'american': 39,
 "american's": 451,
 'amount': 348,
 'angeles': 105,
 'another': 353,
 'anything': 602,
 'anywhere': 332,
 'ap': 204,
 'approximately': 404,
 'april': 187,
 'area': 333,
 'arizona': 441,
 'around': 111,
 'arrange': 295,
 'arrangements': 217,
 'arrival': 310,
 'arrivals': 311,
 'arrive': 52,
 'arrives': 178,
 'arriving': 35,
 'atl': 456,
 'atlanta': 8,
 "atlanta's": 450,
 'august': 75,
 'available': 36,
 'b': 434,
 'back': 222,
 'baltimore': 11,
 'bay': 578,
 'beach': 147,
 'beginning': 468,
 'begins': 532,
 'belong': 519,
 'besides': 561,
 'bna': 486,
 'boeing': 316,
 'book': 142,
 'booking': 296,
 'boston': 3,
 'bound': 436,
 'breakfast': 182,
 'bring': 584,
 'bur': 502,
 'burbank': 183,
 'business': 201,
 'buy': 459,
 'bwi': 234,
 'c': 399,
 'california': 162,
 'calling': 513,
 'canada': 303,
 'canadian': 284,
 'capacity': 336,
 'car': 223,
 'carolina': 249,
 'carries': 420,
 'cars': 448,
 'catch': 550,
 'charges': 521,
 'charlotte': 73,
 'cheap': 334,
 'cheapest': 31,
 'chicago': 71,
 'choices': 369,
 'cincinnati': 138,
 'cities': 250,
 'city': 37,
 'class': 33,
 'classes': 236,
 'cleveland': 102,
 'close': 365,
 'co': 373,
 'coach': 149,
 'code': 98,
 'codes': 294,
 'colorado': 258,
 'columbus': 172,
 'come': 589,
 'coming': 297,
 'companies': 618,
 'concerning': 593,
 'connect': 346,
 'connecting': 197,
 'connection': 410,
 'connections': 377,
 'connects': 520,
 'continent': 475,
 'continental': 77,
 'continuing': 537,
 'cost': 109,
 'costs': 422,
 'could': 120,
 'county': 228,
 'cover': 558,
 'cp': 419,
 'currently': 544,
 'd': 591,
 'daily': 141,
 'dallas': 10,
 'database': 480,
 'day': 159,
 'days': 321,
 'dc': 47,
 'december': 173,
 'define': 376,
 'delta': 68,
 "delta's": 388,
 'denver': 6,
 'depart': 145,
 'departing': 132,
 'departs': 355,
 'departure': 270,
 'departures': 341,
 'describe': 463,
 'designate': 514,
 'destination': 352,
 'determine': 547,
 'detroit': 158,
 'dfw': 279,
 'diego': 80,
 'difference': 406,
 'different': 387,
 'dinner': 202,
 'dinnertime': 425,
 'direct': 180,
 'directly': 517,
 'discount': 483,
 'display': 226,
 'dl': 194,
 'dollars': 129,
 'downtown': 108,
 'dulles': 449,
 'ea': 327,
 'earlier': 598,
 'earliest': 49,
 'early': 84,
 'eastern': 193,
 'economic': 577,
 'economy': 148,
 'eight': 414,
 'eighteenth': 320,
 'eighth': 196,
 'either': 246,
 'eleven': 573,
 'eleventh': 240,
 'else': 567,
 'enroute': 613,
 'equal': 554,
 'equipment': 531,
 'evening': 64,
 'everywhere': 538,
 'ewr': 271,
 'expensive': 125,
 'explain': 259,
 'express': 238,
 'eye': 543,
 'f': 242,
 'fare': 23,
 'fares': 43,
 'february': 309,
 'ff': 326,
 'field': 165,
 'fifteen': 496,
 'fifteenth': 213,
 'fifth': 191,
 'final': 525,
 'find': 60,
 'fine': 592,
 'first': 24,
 'flies': 232,
 'flight': 2,
 'flights': 1,
 'florida': 239,
 'fly': 22,
 'flying': 177,
 'fn': 372,
 'following': 347,
 'fort': 85,
 'four': 407,
 'fourteenth': 263,
 'fourth': 192,
 'francisco': 7,
 'friday': 81,
 "friday's": 616,
 'fridays': 549,
 'friends': 443,
 'general': 175,
 'georgia': 354,
 'get': 130,
 'gets': 620,
 'give': 41,
 'go': 56,
 'goes': 198,
 'going': 103,
 'got': 565,
 'great': 397,
 'greatest': 574,
 'ground': 28,
 'grounds': 504,
 'guardia': 275,
 'h': 255,
 'hartfield': 529,
 'heading': 363,
 'hello': 342,
 'help': 344,
 'hi': 266,
 'highest': 409,
 'home': 581,
 'hopefully': 555,
 'hou': 516,
 'hours': 293,
 'houston': 90,
 'hp': 291,
 "i'd": 27,
 "i'll": 331,
 "i'm": 127,
 "i've": 564,
 'iah': 594,
 'include': 390,
 'includes': 495,
 'including': 499,
 'indiana': 535,
 'indianapolis': 96,
 'inexpensive': 597,
 'inform': 510,
 'information': 57,
 'instead': 572,
 'intercontinental': 523,
 'interested': 200,
 'international': 155,
 'itinerary': 462,
 'j': 579,
 'january': 267,
 'jersey': 256,
 'jet': 603,
 'jfk': 319,
 'jose': 126,
 'july': 79,
 'june': 116,
 'k': 511,
 'kansas': 95,
 'kind': 169,
 'kindly': 492,
 'kinds': 357,
 'know': 135,
 'la': 190,
 'lake': 107,
 'land': 343,
 'landing': 433,
 'landings': 280,
 'lands': 533,
 'largest': 623,
 'las': 66,
 'last': 156,
 'lastest': 426,
 'late': 195,
 'later': 305,
 'latest': 99,
 'lax': 576,
 'laying': 507,
 'layover': 277,
 'least': 140,
 'leave': 46,
 'leaves': 131,
 'leaving': 17,
 'less': 154,
 'let': 596,
 "let's": 324,
 'level': 569,
 'like': 13,
 'limo': 427,
 'limousine': 306,
 'limousines': 493,
 'list': 14,
 'listed': 553,
 'listing': 243,
 'listings': 611,
 'live': 269,
 'lives': 453,
 'local': 477,
 'locate': 528,
 'logan': 300,
 'long': 146,
 'longest': 503,
 'look': 417,
 'looking': 188,
 'los': 104,
 'louis': 134,
 'love': 164,
 'lowest': 150,
 'ls': 509,
 'lufthansa': 325,
 'lunch': 252,
 'm': 418,
 'make': 181,
 'makes': 265,
 'making': 328,
 'many': 121,
 'march': 273,
 'maximum': 368,
 'may': 117,
 'mco': 301,
 'meal': 151,
 'meals': 287,
 'mealtime': 471,
 'mean': 118,
 'meaning': 394,
 'memphis': 113,
 'mia': 571,
 'miami': 62,
 'michigan': 439,
 'midnight': 312,
 'midway': 435,
 'midwest': 237,
 'milwaukee': 59,
 'minimum': 522,
 'minneapolis': 133,
 'minnesota': 408,
 'missouri': 446,
 'mitchell': 176,
 'monday': 53,
 'mondays': 560,
 'month': 457,
 'montreal': 112,
 'morning': 19,
 'mornings': 329,
 'much': 144,
 'must': 505,
 'name': 562,
 'names': 622,
 'nashville': 123,
 'nationair': 367,
 'near': 385,
 'need': 32,
 'nevada': 604,
 'new': 45,
 'newark': 69,
 'next': 82,
 'night': 167,
 'nights': 490,
 'nighttime': 628,
 'nineteenth': 274,
 'ninth': 221,
 'non': 587,
 'nonstop': 51,
 'nonstops': 431,
 'noon': 67,
 'noontime': 383,
 'north': 248,
 'northwest': 168,
 'november': 153,
 'number': 257,
 'numbers': 466,
 'nw': 381,
 "o'clock": 72,
 "o'hare": 500,
 'oak': 624,
 'oakland': 25,
 'october': 247,
 'offer': 286,
 'offered': 540,
 'offers': 370,
 'oh': 497,
 'ohio': 337,
 'okay': 143,
 'one': 40,
 "one's": 627,
 'ontario': 210,
 'operating': 559,
 'options': 429,
 'ord': 411,
 'order': 607,
 'originate': 416,
 'originating': 382,
 'orlando': 93,
 'overnight': 476,
 'passengers': 421,
 'paul': 157,
 'pennsylvania': 338,
 'people': 350,
 'petersburg': 124,
 'philadelphia': 12,
 'philly': 424,
 'phoenix': 74,
 'pittsburgh': 9,
 'place': 494,
 'plan': 375,
 'plane': 227,
 'planes': 283,
 'planning': 552,
 'please': 18,
 'pm': 20,
 'possible': 186,
 'prefer': 473,
 'preferably': 595,
 'price': 205,
 'priced': 619,
 'prices': 209,
 'proper': 467,
 'provide': 392,
 'provided': 323,
 'provides': 472,
 'put': 527,
 'q': 298,
 'qo': 308,
 'qualify': 590,
 'quebec': 415,
 'question': 506,
 'qw': 299,
 'qx': 245,
 'rate': 401,
 'rates': 487,
 'reaches': 534,
 'reaching': 465,
 'red': 542,
 'rent': 349,
 'rental': 260,
 'rentals': 361,
 'repeat': 629,
 'repeating': 489,
 'represented': 479,
 'requesting': 356,
 'reservation': 358,
 'reservations': 452,
 'restriction': 211,
 'return': 171,
 'returning': 220,
 'reverse': 518,
 'right': 282,
 'round': 34,
 'route': 478,
 'run': 610,
 'runs': 582,
 'sa': 371,
 'salt': 106,
 'san': 5,
 'saturday': 76,
 'saturdays': 339,
 'say': 405,
 'scenario': 631,
 'schedule': 185,
 'scheduled': 530,
 'schedules': 430,
 'sd': 612,
 'seat': 524,
 'seating': 335,
 'seats': 545,
 'seattle': 89,
 'second': 166,
 'see': 114,
 'september': 161,
 'serve': 160,
 'served': 229,
 'serves': 170,
 'service': 152,
 'serviced': 469,
 'services': 374,
 'serving': 285,
 'seven': 491,
 'seventeen': 617,
 'seventeenth': 276,
 'seventh': 91,
 'sfo': 302,
 'shortest': 261,
 'show': 4,
 'single': 599,
 'six': 396,
 'sixteen': 340,
 'sixteenth': 262,
 'sixth': 225,
 'smallest': 251,
 'snack': 400,
 'somebody': 566,
 'sometime': 330,
 'soon': 413,
 'sorry': 362,
 'sort': 557,
 'sounds': 608,
 'southwest': 313,
 'spend': 515,
 'st': 58,
 'stand': 224,
 'stands': 395,
 'stapleton': 428,
 'start': 609,
 'starting': 322,
 'staying': 605,
 'still': 461,
 'stop': 78,
 'stopover': 110,
 'stopovers': 314,
 'stopping': 189,
 'stops': 179,
 'straight': 551,
 'summer': 575,
 'sunday': 63,
 "sunday's": 460,
 'sundays': 393,
 'supper': 485,
 'sure': 402,
 'symbols': 556,
 'tacoma': 137,
 'take': 199,
 'takeoff': 437,
 'takeoffs': 304,
 'takes': 614,
 'taking': 458,
 'tampa': 122,
 'taxi': 423,
 'tell': 94,
 'ten': 384,
 'tennessee': 386,
 'tenth': 241,
 'texas': 380,
 'thank': 272,
 'thanks': 583,
 "that's": 626,
 'thereafter': 484,
 'thing': 548,
 'third': 174,
 'thirteenth': 444,
 'thirtieth': 230,
 'thirty': 264,
 'three': 398,
 'thrift': 315,
 'thursday': 50,
 'thursdays': 378,
 'ticket': 119,
 'tickets': 244,
 'time': 139,
 'times': 184,
 'today': 219,
 'tomorrow': 100,
 'tonight': 508,
 'toronto': 87,
 'total': 379,
 'toward': 580,
 'tower': 412,
 'town': 600,
 'train': 440,
 'trans': 481,
 'transcontinental': 445,
 'transport': 254,
 'transportation': 30,
 'travel': 136,
 'traveling': 281,
 'travels': 606,
 'trip': 29,
 'trips': 366,
 'try': 536,
 'trying': 317,
 'tuesday': 55,
 'tuesdays': 345,
 'turboprop': 455,
 'twa': 115,
 'twelfth': 253,
 'twelve': 625,
 'twentieth': 203,
 'twenty': 61,
 'two': 208,
 'type': 128,
 'types': 235,
 'ua': 212,
 'united': 54,
 'us': 88,
 'usa': 541,
 'use': 292,
 'used': 163,
 'uses': 307,
 'using': 216,
 'utah': 447,
 'various': 601,
 'vegas': 65,
 'via': 215,
 'vicinity': 570,
 'visit': 546,
 'want': 42,
 'wanted': 470,
 'wants': 568,
 'washington': 16,
 'way': 44,
 "we're": 391,
 'wednesday': 26,
 "wednesday's": 501,
 'wednesdays': 231,
 'week': 206,
 'weekday': 268,
 'weekdays': 351,
 'well': 389,
 'west': 360,
 'westchester': 214,
 "what're": 318,
 "what's": 97,
 'whether': 539,
 'wish': 364,
 'within': 563,
 'without': 432,
 'working': 630,
 'world': 482,
 'worth': 86,
 'would': 21,
 'year': 498,
 'yes': 288,
 'yn': 289,
 'york': 48,
 'yyz': 585}

In [16]:
max_vocab_size = len(word_index) + 1
input_length = 25

In [17]:
train_data_tokens = tok.texts_to_sequences(text)
test_data_tokens = tok.texts_to_sequences(test_text)

In [18]:
train_input = pad_sequences(train_data_tokens, input_length)
test_input = pad_sequences(test_data_tokens, input_length)

# 5 codificando os rotulos

In [19]:
a = labels

label_transformer = preprocessing.LabelEncoder()
label_transformer.fit(labels)

LabelEncoder()

In [20]:
labels = label_transformer.transform(labels)
b = labels
test_labels = label_transformer.transform(test_labels)
c = labels

In [21]:
labels = to_categorical(np.asarray(labels))
d = labels
test_labels = to_categorical(np.asarray(test_labels))

In [22]:
labels

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

# 6 separação de treino e teste (para treinamento)

In [23]:
X_train, X_val, y_train, y_val = train_test_split(train_input, labels, test_size=0.2, random_state=42)
X_train

array([[  0,   0,   0, ...,  52, 477, 139],
       [  0,   0,   0, ..., 105,  50,  64],
       [  0,   0,   0, ...,   5,   7,   3],
       ...,
       [  0,   0,   0, ...,   2,  10,   9],
       [  0,   0,   0, ..., 218, 137,  93],
       [  0,   0,   0, ...,  42,  46,   3]], dtype=int32)

# 7 deep learning

In [36]:
model = Sequential()
model.add(Embedding(max_vocab_size, 300, input_length=input_length, trainable=False))
model.add(Conv1D(filters=32, kernel_size=8, activation='selu'))
model.add(MaxPooling1D(pool_size=2))
model.add(Flatten())
model.add(Dense(10, activation='selu'))
model.add(Dense(8, activation='sigmoid'))

In [37]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_1 (Embedding)      (None, 25, 300)           189600
_________________________________________________________________
conv1d_1 (Conv1D)            (None, 18, 32)            76832
_________________________________________________________________
max_pooling1d_1 (MaxPooling1 (None, 9, 32)             0
_________________________________________________________________
flatten_1 (Flatten)          (None, 288)               0
_________________________________________________________________
dense_2 (Dense)              (None, 10)                2890
_________________________________________________________________
dense_3 (Dense)              (None, 8)                 88
=================================================================
Total params: 269,410
Trainable params: 79,810
Non-trainable params: 189,600
_________________________________________________________________

In [38]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(X_train, y_train, epochs=6, verbose=1)

Epoch 1/6
121/121 [==============================] - 2s 9ms/step - loss: 1.0786 - accuracy: 0.7262
Epoch 2/6
121/121 [==============================] - 1s 9ms/step - loss: 0.6141 - accuracy: 0.8318
Epoch 3/6
121/121 [==============================] - 1s 9ms/step - loss: 0.4242 - accuracy: 0.8947
Epoch 4/6
121/121 [==============================] - 1s 9ms/step - loss: 0.3237 - accuracy: 0.9138
Epoch 5/6
121/121 [==============================] - 1s 9ms/step - loss: 0.2614 - accuracy: 0.9297
Epoch 6/6
121/121 [==============================] - 1s 9ms/step - loss: 0.1732 - accuracy: 0.9591

In [39]:
model.evaluate(X_val, y_val)

31/31 [==============================] - 0s 4ms/step - loss: 0.2421 - accuracy: 0.9307

[0.2420656830072403, 0.9307135343551636]

In [40]:
predictions = model.predict(test_input)

In [41]:
def acc(y_true, y_pred):
    return np.equal(np.argmax(y_true, axis=-1), np.argmax(y_pred, axis=-1)).mean()

print(acc(test_labels, predictions))

0.94375

In [42]:
def get_intent(sentence):
  data = [[sentence]]
  df = pd.DataFrame(data)
  entrada = df[0].apply(lambda x: ' '.join([word for word in x.split() if word not in (words)]))
  entrada = tok.texts_to_sequences(entrada)
  entrada = pad_sequences(entrada, input_length)
  prediction = model.predict(entrada)
  # return np.argmin(prediction)
  return a[np.where(b == np.argmax(prediction))[0][0]]

#  8 intencoes

In [43]:
for i in range(8):
  print(a[np.where(b == i)[0][0]])

atis_abbreviation
atis_aircraft
atis_airfare
atis_airline
atis_flight
atis_flight_time
atis_ground_service
atis_quantity

In [44]:
get_intent("what kinds of planes are used by american airlines")

'atis_aircraft'

In [45]:
get_intent("show me the first class fares from boston to denver")

'atis_airfare'

In [46]:
get_intent("show me the flights from boston to denver")

'atis_flight'